body{
    font-family: sans-serif;
    font-size: 16px;
    color: #555555;
}
.container{
    width: 800px;
    margin: 80px auto;
}
.container ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.container li{
    
    border-top: 1px solid #a6c2e8;
}
.container li :last-child{
    border-bottom: 1px solid #a6c2e8;
}
.container span{
    display: inline-block; /*block inline tabel 레이아웃: inline-block, flex grid */
    width: 150px;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 20px;
    background-color: #d6dce4;
}
.container label{
    margin-right: 15px;
}
.check{
    background: #d6dce4 url(../images/check2.png) no-repeat 10px 10px;
    background-size: 15px;
}
input{
    display: inline-block;
}
.btn-box{
    padding-top: 20px;
    text-align: center;
}
input[type=text]{
    border: 1px solid #999;
    padding: 5px 15px;
    border-radius: 10px;
}
.s {
    text-align: center;
}

.myButton1 {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
   

}
.myButton1:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.myButton1:active {
	position:relative;
	top:1px;
}


.myButton2 {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    
}
.myButton2:hover {
	background-color:#eb675e;
}
.myButton2:active {
	position:relative;
	top:1px;
}