userSec.xml

#파일.확장자(같은 이름의 모든 파일) file.js
#최상위 폴더의 파일 확장자 /file.js
#js확장자를 가진 모든 파일 *.js
#위의 제외할 모든 확장자에 속하지만 무시하면 안될 경우 !file.js
#logs란 이름의 폴더(폴더안의 내용 모두), 파일 logs
#logs란 이름의 폴더만(폴더안의 내용 모두) logs/
#logs
#   -a-ag.js
#   -b-ag.js
#   -c-ag.js
#   -d-ag.js
# logs 하위 폴더들의 같은 파일 제외하는 법  logs/**/ag.js
# 입력 i
# 입력 종료 esc
# 종료 :q(저장 없이 종료), :q(저장 없이 강제 종료-입력한 것이 없을 때), "wd(저장 하고 종료)
# 위로 스크롤 k, 아래스크롤 j

