body{
    font-size: 16px;
    color: #333333;
    font-weight: normal;
    font-family: '맑은고딕', 'malgun gothic', sans-serif;
    /* background-color: #ededed;
    background-image: url(../images/flo.png);
    background-repeat: no-repeat;
    background-position: center; */

    background: #ededed url(../images//flo.png) no-repeat center top;
    background-attachment: scroll;
    
}
h1{
    width: 400px;
    height: 50px;
    background-color: aqua;
}
/* span은 width, height값 적용 안됨 */

.box{
    width: 500px;
    height: 400px;
    overflow: auto;
    /* background-color: pink;
    background-image: url(../images/flo.png);
    background-repeat: no-repeat; */
    background: pink url(../images/flo.png) no-repeat right bottom; /* url현재 폴더는 '/' or '공백' */ 
    background-attachment: local;
}
/* 내용이 넘치는 속성 제어 overfolw : hidden, auto, scroll / overfolw-x, overfolw-y */
/* backgruound image -url */
/* background image 반복 명령
background-repeat: rapeat, no-repeat, repeat-x, repeat-y */
/* background-attchment : scroll(기본값), fixed, local */
/* background-color, backgruond-image, backgruond-repeat, backgruond-attachment */
