/* overflow - visible default, hidden, scroll, auto
overflow-x, overflow-y */
*{ box-sizing: border-box;}
body{
    margin: 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
a:hover{
    font-weight: bold;
    background-color: yellow;
}
.banner{
    height: 400px;
    background-color: pink;
    text-align: center;
    font-size: 100px;
    color: black;
    /* padding-top: 100px; */
    overflow-x: auto;
}
.banner:hover{
    background-color: red;
}
.header{
    height: 80px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding-top: 30px;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    background-color: #fff;
}
.header::before{
    content: "안녕안녕";
}
.header:hover::after{
    display: block;
}
.header::after{
    content: "";
    display: block;
    width: 200px;
    height: 10px;
    background-color: red;
    margin: auto;
    display: none;
}
.section{
    margin-bottom: 80px;
    padding-bottom: 30px;
    border-bottom: 1px dashed black;
}
/* :first-child - 첫 번째 순서를 갖고 옴
    :last-child - 마지막 순서를 갖고 옴
    :nth-child() - 해당 순서를 갖고 옴 div도 포함
    :first-of-type은 div빼고
    ::before
    ::after*/

/* even,(2n)짝수 odd,(2n-1)홀수 */

section p:nth-child(even){
    background-color: purple;
}
q:lang(no){
    quotes: "%%" "%%";
}
